@page
@model Veterianaria.App.Presentacion.Pages.AdDuenoModel
@{
}
<h3>Administra Información sobre Dueños de Mascota! <span class="badge badge-secondary"></span></h3>
@* <button type="submit" class="btn btn-secondary bg-danger" onclick-"actualizarLista()">Actualizar lista</button> *@

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#id-collapse-listar-dueno" aria-expanded="false"
                    aria-controls="id-collapse-listar-dueno">
                    Listar Dueños
                </button>
            </h2>
        </div>
        <div id="id-collapse-listar-dueno" class="collapse show" aria-labelledby="headingTwo"
            data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @* <th scope="col">#</th> *@
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">FechaNacimiento</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Contraseña</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="POST">
                            @foreach (var du in Model.listaDueno)
                            {
                                <tr>
                                    <td>@du.Id</td>
                                    <td>@du.Nombre</td>
                                    <td>@du.Telefono</td>
                                    <td>@du.Edad</td>
                                    <td>@du.Direccion</td>
                                    <td>@du.FechaNacimiento</td>
                                    <td>@du.Correo</td>
                                    <td>
                                            <button type="submit" class="btn btn-primary bg-success"
                                            style="margin-right: 20px">Editar</button>
                                            <button type="submit" class="btn btn-primary bg-danger" asp-page-handler="Del"
                                            asp-route-idDueno="@du.Id">Eliminar</button>
                                    </td>
                                </tr>
                            }
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#id-collapse-admin-dueno" aria-expanded="true"
                    aria-controls="id-collapse-admin-dueno">
                    Administrador Dueños
                </button>
            </h2>
        </div>
        <div id="id-collapse-admin-dueno" class="collapse" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
                <form method="POST">
                    <div class="form-row">
                        <fieldset disabled>
                            <div class="form-group col-md-8">
                                <label for="id-dueno">IdDueno</label>
                                <input type="text" id="id-dueno" class="form-control" placeholder="IdDueno" name="Id">
                            </div>
                        </fieldset>
                        <div class="form-group col-md-6">
                            <label for="id-nombred">Nombre del Dueño</label>
                            <input type="text" id="id-nombred" class="form-control" placeholder="Digita Nombre del Dueño" name="Nombre">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id-fechanac">Fecha de Nacimiento</label>
                            <input type="Date" class="form-control" id="id-fechanac" placeholder="Selecciona Fecha Nacimiento" name="FechaNacimiento">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="id-edad">Edad</label>
                            <input type="text" id="id-edad" class="form-control" placeholder="Digita la Edad" name="Edad">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id-direccion">Dirección</label>
                            <input id="id-direccion" type="text" class="form-control" placeholder="Digita la dirección" name="Direccion">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id-telefono">Teléfono</label>
                            <input type="text" id="id-telefono" class="form-control" placeholder="Digita Número de Teléfono" name="Telefono">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id-correo">Correo Electrónico</label>
                            <input id="id-correo" type="email" class="form-control" placeholder="Digita el correo" name="Correo">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id-contra">Contraseña</label>
                            <input id="id-contra" type="password" class="form-control" placeholder="Digita la contraseña" name="Contrasena">
                        </div>                            
                    </div>
                    <button type="submit" class="btn btn-secondary" asp-page-handler="Add">Agregar</button> 
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    function actualizarLista(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
                alert(xhttp.responseText);
            }
            else {
                alert("Algo falló");
            }
        }
        //Asíncrono
        xhttp.open("GET", "https://localhost:4004/WeatherForecast", true)
        xhttp.send();
    }
</script>