@page
@model Veterianaria.App.Presentacion.Pages.AdPlanVacunacionModel
@{
}
<h3>Administra Información sobre el Plan de Vacunación! <span class="badge badge-secondary"></span></h3>
@* <button type="submit" class="btn btn-secondary bg-danger" onclick-"actualizarLista()">Actualizar lista</button> *@

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#id-collapse-listar-planvacuna" aria-expanded="false"
                    aria-controls="id-collapse-listar-planvacuna">
                    Listar Plan Vacunación
                </button>
            </h2>
        </div>
        <div id="id-collapse-listar-planvacuna"  class="@(Model.modePage == "adicion" ? "collapse show" : "collapse")" aria-labelledby="headingTwo"
            data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @* <th scope="col">#</th> *@
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="POST">
                            @foreach (var pv in Model.listaPlanVacunacion)
                            {
                            <tr>
                                @* <th scope="row">1</th> *@
                                <td>@pv.Id</td>
                                <td>@pv.Nombre</td>
                                <td>@pv.Descripcion</td>

                                <td>
                                       <div class="container">
                                        <div class="row" style="width: 230px;">
                                            <div class="col-sm">
                                                <a class="btn btn-primary bg-success"
                                                asp-page="/AdminPlanVacunacion/AdPlanVacunacion"
                                                asp-route-idPlanVacunacion="@pv.Id" style="margin-right: 20px">Editar</a>
                                            </div>
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModal">
                                                    Eliminar
                                                </button>
                                            
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar
                                                                        Plan de Vacunacion
                                                                    </h5>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    ¿Deseas eliminar el plan de vacunacion?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                    <form method="POST">
                                                                        <button type="submit" class="btn btn-primary bg-danger"
                                                                        asp-page-handler="Del"
                                                                        asp-route-idPlanVacunacion="@pv.Id">Eliminar</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            <div>
                                </td>
                            </tr>
                            }
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#id-collapse-admin-planvacuna" aria-expanded="true"
                    aria-controls="id-collapse-admin-planvacuna">
                    Administrador Plan Vacunación
                </button>
            </h2>
        </div>
        <div id="id-collapse-admin-planvacuna"  class="@(Model.modePage == "edicion" ? "collapse show" : "collapse")" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
                <form method="POST">
                    <div class="form-row">
                        <fieldset disabled>
                            <div class="form-group col-md-6">
                                <label for="id-planvacunacion">IdPlanVacunacion</label>
                                <input type="text" id="id-planvacunacion" class="form-control" placeholder="IdPlanVacunacion" name="Id">
                            </div>
                        </fieldset>

                         <input type="text" asp-for="@Model.planNow.Id"  type="hidden" id="id-planvacunacion"
                            class="form-control" placeholder="IdPlanVacunacion" name="Id">

                        <div class="form-group col-md-6">
                            <label for="id-nombrepv">*Digite Nombre del Plan de Vacunación:</label>
                            <input type="text" asp-for="@Model.planNow.Nombre" id="id-nombrepv" class="form-control" placeholder="NombrePlanVacunacion" name="Nombre">
                        </div>
                            <div class="form-group col-md-6">
                                <label for="id-descripcionpv">Descripción del Plan Vacunación:</label>
                                <textarea asp-for="@Model.planNow.Descripcion" class="form-control" id="id-descripcionpv" rows="5" name="Descripcion"></textarea>
                            </div>
                    </div>
                    <div class="container m-4">
                        <div class="row">
                            <button class="btn btn-primary mr-2" asp-page-handler="Add">
                                Agregar
                            </button>

                            @if (Model.modePage == "edicion")
                            {
                                <button type="submit" class="btn btn-primary" style="margin-right: 20px"
                                asp-page-handler="Edit">
                                    Editar
                                </button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
