@page
@model Veterianaria.App.Presentacion.Pages.AdHistoriaClinicaModel
@{
}

<h3>Administra Información sobre Historia Clínica! <span class="badge badge-secondary"></span></h3>
@* <button type="submit" class="btn btn-secondary bg-danger" onclick-"actualizarLista()">Actualizar lista</button> *@

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#id-collapse-listar-historias" aria-expanded="false"
                    aria-controls="id-collapse-listar-historias">
                    Listar Historias Clínicas
                </button>
            </h2>
        </div>
        <div id="id-collapse-listar-historias" class="collapse show" aria-labelledby="headingTwo"
            data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @* <th scope="col">#</th> *@
                            <th scope="col">Id</th>
                            <th scope="col">ContenidoHistoriaClínica</th>
                            <th scope="col">FechaHistoriaClínica</th>
                            <th scope="col">IdAnimal</th>
                            <th scope="col">IdDiagnostico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="POST">
                            @foreach (var hc in Model.listaHistoriaClinica)
                            {
                            <tr>
                                @* <th scope="row">1</th> *@
                                <td>@hc.Id</td>
                                <td>@hc.ContenidoHistoriaClinica</td>
                                <td>@hc.FechaHistoriaClinica</td>
                                <td>@hc.IdAnimal</td>
                                <td>@hc.IdDiagnostico</td>

                                <td>
                                    <button type="submit" class="btn btn-primary bg-success"
                                    style="margin-right: 20px">Editar</button>
                                    <button type="submit" class="btn btn-primary bg-danger" asp-page-handler="Del"
                                    asp-route-idHistoriaClinica="@hc.Id">Eliminar</button>
                                </td>
                            </tr>
                            }
                        </form> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#id-collapse-admin-historiaclinica" aria-expanded="true"
                    aria-controls="id-collapse-admin-historiaclinica">
                    Administrador de Historia Clínica
                </button>
            </h2>
        </div>
        <div id="id-collapse-admin-historiaclinica" class="collapse" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
                <form method="POST">
                    <div class="form-row">
                        <fieldset disabled>
                            <div class="form-group col-md-8">
                                <label for="id-hc">IdHistoriaClínica</label>
                                <input type="text" id="id-hc" class="form-control" placeholder="IdHistoriaClinica" name="Id">
                            </div>
                        </fieldset>
                        
                        <div class="form-group col-md-3">
                            <label for="id-fechahc">Fecha de Historia Clínica</label>
                            <input type="Date" class="form-control" id="id-fechahc" placeholder="Fecha Historia Clínica" name="FechaHistoriaClinica">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id-idanimal">*Seleccione Nombre Animal</label>
                            <select class="form-control" id="id-idanimal" name="IdAnimal">
                                <option>Animal Historia Clínica:</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id-diagnosticohc">*Seleccione el Diagnóstico</label>
                            <select class="form-control" id="id-diagnosticohc" name="IdDiagnostico">
                                <option>Seleccione el Diagnóstico:</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="id-contenidohc">Contenido Historia Clínica::</label>
                            <textarea class="form-control" id="id-contenidohc" rows="5" name="ContenidoHistoriaClinica">Escriba el contenido aquí</textarea>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-secondary" asp-page-handler="Add">Agregar</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    function actualizarLista(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
                alert(xhttp.responseText);
            }
            else {
                alert("Algo falló");
            }
        }
        //Asíncrono
        xhttp.open("GET", "https://localhost:4004/WeatherForecast", true)
        xhttp.send();

    }
</script>